ipa_dnsrecord PTR and record_value without dot

### Summary

The documentation reads, in the examples, that one should/could use an fqdn as a **record_value** parameter when creating a **PTR** record. But this won't work without an ending dot in the record_value.

 record_value: 'internal.ipa.example.com -> Ko
 record_value: 'internal.ipa.example.com. -> OK

I think the code just needs to add a dot in the end if it does not already exist.

### Issue Type

Bug Report

### Component Name

ipa_dnsrecord 

### Ansible Version

```console (paste below)
$ ansible --version
ansible [core 2.12.1]
  config file = None
  configured module search path = ['/home/user/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.9/site-packages/ansible
  ansible collection location = /home/user/.ansible/collections:/usr/share/ansible/collections
  executable location = /usr/lib/python-exec/python3.9/ansible
  python version = 3.9.9 (main, Nov 18 2021, 19:42:27) [GCC 11.2.0]
  jinja version = 3.0.3
  libyaml = True
```


### Community.general Version

```console (paste below)
$ ansible-galaxy collection list community.general

# /usr/lib/python3.9/site-packages/ansible_collections
Collection        Version
----------------- -------
community.general 4.0.2  

# /home/snail/.ansible/collections/ansible_collections
Collection        Version
----------------- -------
community.general 4.1.0 
```


### Configuration

```console (paste below)
$ ansible-config dump --only-changed
...
```


### OS / Environment

Gentoo

### Steps to Reproduce

<!--- Paste example playbooks or commands between quotes below -->
```yaml (paste below)
- name: Ensure a PTR record is present
  community.general.ipa_dnsrecord:
    ipa_host: spider.example.com
    ipa_pass: Passw0rd!
    state: present
    zone_name: 2.168.192.in-addr.arpa
    record_name: 5
    record_type: 'PTR'
    record_value: 'internal.ipa.example.com'
```


### Expected Results

I expected a reverse dns request to show the fqdn eg:
```
dig -x 192.168.2.5 + short
internal.ipa.example.com.
```

### Actual Results

```console (paste below)
dig -x 192.168.2.5 + short
internal.ipa.example.com.2.168.192.in-addr.arpa.
```
It will work fine with record_value: 'internal.ipa.example.com.'
Note the ending dot.

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

Files identified in the description:
* [`plugins/modules/identity/ipa/ipa_dnsrecord.py`](https://github.com/ansible-collections/community.general/blob/main/plugins/modules/identity/ipa/ipa_dnsrecord.py)

If these files are incorrect, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/devel/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @Akasurde @Nosmoht @fxfitz @justchris1
[click here for bot help](https://github.com/ansible/ansibullbot/blob/devel/ISSUE_HELP.md)
<!--- boilerplate: notify --->

Not to dismiss or invalidate your concern, but I have come across this before.  Here is a helpful Server Fault link: https://serverfault.com/questions/803033/should-i-append-a-dot-at-the-end-of-my-dns-urls .  

In short, RFC 1034, section 3.1 explains:

> When a user needs to type a domain name, the length of each label is omitted and the labels are separated by dots (".").  Since a complete domain name ends with the root label, this leads to a printed form which ends in a dot.

Try it yourself: going to https://www.github.com. will actually resolve (as it is supposed to).  

All of the above out of the way, the usage of such is almost non-existent by users these days, or at least it seems to me.  Part of me thinks it is pretty easy to make sure it is terminated by a '.' character or add one in the module parsing.  However, I am always worried about backwards compatibility.  There are those who might say not ending it with a '.' character is invalid, but I am a little less concerned about that case.  I am open the thoughts of others on the topic.

Also check out https://en.wikipedia.org/wiki/FQDN, and the examples in https://datatracker.ietf.org/doc/html/rfc1035#section-3.5 (that RFC defines PTR records).

I totally agree and know that it should end with a dot. This is not what bothers me. In my case, it was not that hard to add a dot but it did not feel clean ( to me ) . I worked as crazy those past days I might be missing a better and easier way but I came to something like : 
```
vars: 
  first_guess_fqdn: "{{ guessed_hostname }}.{{ domain_name }}"
  guessed_fqdn: "{{ first_guess_fqdn if first_guess_fqdn[-1] == '.' else ( first_guess_fqdn ~ '.' ) }}"
```
I think adding a dot would be better handled directly in the code of ipa_dnsrecord because:
- I believe people should not have to worry about this
- People make mistakes. Even the developers do such errors. As a proof, my example comes directly from the official documentation (  look at "Ensure a PTR record is present" in [dnsrecord_module.html#examples](https://docs.ansible.com/ansible/latest/collections/community/general/ipa_dnsrecord_module.html#examples) )

Another solution, which I think would be less effective ( but this remains my own opinion and I would respect the developers opinion) would be to correct the example in the documentation.

I am open to discussion :-). I hope I was clear, English is not my mother tongue.

Ok, so we have two things:
1. A docs error report (that one should be fixed);
2. A feature request (automatically add the period).

I don't mind if 2. gets implemented, I just want to point out that it isn't a bug, but a feature request :)

I have found that this issue is still valid, the module is not removing records unless the record_value field is the FQDN + a trailing dot.

Files identified in the description:
* [`plugins/modules/ipa_dnsrecord.py`](https://github.com/ansible-collections/community.general/blob/main/plugins/modules/ipa_dnsrecord.py)

If these files are incorrect, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/devel/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @jwbernin
[click here for bot help](https://github.com/ansible-community/collection_bot/blob/main/ISSUE_HELP.md)
<!--- boilerplate: notify --->

I merged a PR updating the docs. 

Now, should we make another PR to ensure there is always a `.` at the end of the hostname? Any chance that would be a breaking change? I mean, any chance that anyone would _want_ to pass a hostname _without_ the trailing dot? That seems to contradict the docs, but asking just in case.

We can fix it either way, it's just that if it's a breaking change then we must add a feature flag to control that behaviour, so that we keep backward compatibility.

Hello,
I have been thinking and ran some tests. There is no point for someone to pass a hostname without the trailing dot.
I can provide a  **in the record_value** when record_type is of **PTR** type.
I ran this playbook:
```yaml
- name: Test ipa records
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Ensure a PTR record is present for testok
      community.general.ipa_dnsrecord:
        ipa_host: spider.example.lan
        ipa_user: myUser
        ipa_pass: myPassword!
        zone_name: 200.168.192.in-addr.arpa
        record_name: 208
        record_type: 'PTR'
        record_value: 'testok.example.lan.'

    
    - name: Ensure a PTR record is present for testnotok
      community.general.ipa_dnsrecord:
        ipa_host: spider.example.lan
        ipa_user: myUser
        ipa_pass: myPassword!
        zone_name: 200.168.192.in-addr.arpa
        record_name: 210
        record_type: 'PTR'
        record_value: 'testnotok.example.lan'
```

The reverse DNS requests results are:

```
dig +short -x 192.168.200.208 
testok.example.lan.
```
which is OK

```
dig +short -x 192.168.200.210
testnotok.example.lan.200.168.192.in-addr.arpa.
```
which makes no sense :-)




The problem exists for other record types:
- CNAME
- DNAME
- NS
- PTR
- MX
- SRV


I tested with the following playbook.
Note that it does not test SRV. Plus, using 'dig' to query records could be more understandable than 'community.dns.lookup'.
I hope it is helpful enough, but tell me if you need more information/inputs.
```yaml
- name: Test ipa record
  hosts: localhost
  gather_facts: false

  module_defaults:
    community.general.ipa_dnsrecord:
      ipa_host: spider.example.lan
      ipa_user: myUser
      ipa_pass: myPassword
      state: present
      validate_certs: false
  vars:
    domain_name: example.com
    domain_reverse: 200.168.192.in-addr.arpa

  tasks:
    - name: Manage records
      tags: manage_records
      block:

        # A RECORDS

          # is OK
        - name: Manage an A record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: machineok
            record_type: 'A'
            record_value: '192.168.200.206'

          # is OK
        - name: Manage an A record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: machinenotok
            record_type: 'A'
            record_value: '192.168.200.207'

        # PTR RECORDS

          # is OK
        - name: Manage a good PTR record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_reverse }}"
            record_name: 206
            record_type: 'PTR'
            record_value: 'machineok.{{ domain_name }}.'

          # no dot
        - name: Manage an erroneous PTR record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_reverse }}"
            record_name: 207
            record_type: 'PTR'
            record_value: 'machinenotok.{{ domain_name }}'

        # CNAME RECORDS

          # is OK
        - name: Manage a good CNAME record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: cnameok
            record_type: 'CNAME'
            record_value: 'machineok.{{ domain_name }}.'

          # no dot
        - name: Manage an erroneous CNAME record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: cnamenotok
            record_type: 'CNAME'
            record_value: 'machineok.{{ domain_name }}'

        # MX RECORDS

        # first record is ok, 2nd has no dot
        - name: Manage a partially erroneous MX record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: '@'
            record_type: 'MX'
            record_values:
              - '1 mxok.{{ domain_name }}.'
              - '2 mxnotok.{{ domain_name }}'


        # DNAME RECORDS

        - name: Manage an erroneous DNAME record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: subok
            record_type: 'DNAME'
            record_value: target.ok.lan.

        - name: Manage an erroneous DNAME record 
          community.general.ipa_dnsrecord:
            zone_name: "{{ domain_name }}"
            record_name: subnotok
            record_type: 'DNAME'
            record_value: target.notok.lan

    - name: Query records
      tags: query_records
      ansible.builtin.debug:
        msg: "{{ my_msg }}"
      vars:
        my_msg: |-
          machineok.{{ domain_name }}:
            A: {{ query('community.dns.lookup', 'machineok.' ~ domain_name ~ '.') }}
            RIGHT PTR: "{{ query('community.dns.reverse_lookup', '192.168.200.206', type='PTR') }}"
          machinenotok.{{ domain_name }}:
            A: "{{ query('community.dns.lookup', 'machinenotok.' ~ domain_name ~ '.' }}"
            WRONG PTR: "{{ query('community.dns.reverse_lookup', '192.168.200.207', type='PTR') }}"
          one mx is right, one is wrong
          mx: "{{ query('community.dns.lookup', domain_name ~ '.',type='MX') }}"
          cnameok.{{ domain_name }}:
            A: {{ query('community.dns.lookup', 'cnameok.' ~ domain_name ~ '.') }}
          cnamenotok.{{ domain_name }}: 
            A: "{{ query('community.dns.lookup', 'cnamenotok.' ~ domain_name ~ '.') }}"

```

The result is then:
```yaml
PLAY [Test ipa record] *********************************************************

TASK [Look records] ************************************************************
ok: [localhost] => 
    msg: |-
        machineok.example.com:
          A: ['192.168.200.206']
          RIGHT PTR: "['machineok.example.com.']"
        machinenotok.example.com:
          A: "['192.168.200.207']"
          WRONG PTR: "['machinenotok.example.com.200.168.192.in-addr.arpa.']"
        one mx is right, one is wrong
        mx: "['1 mxok.example.com.', '2 mxnotok.example.com.example.com.']"
        cnameok.example.com:
          A: ['192.168.200.206']
        cnamenotok.example.com:
          A: "[]"
```

It looks like we should either:
1. add the dot at the end (if missing), or
2. pop a warning if dot is missing, then in the future we turn that into an actual error

WDYT? 

My opinion is that the dot should be added if absent. It is human to forget or misunderstand that it is needed, while omitting it leads to errors and has neither benefits nor use cases.
It would prevent future mistakes while it would not break people's playbooks where it is present.

Fair enough, it also makes sense to me - will put a PR with that improvement soon enough